.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1rem 3rem;
}

.cart-title {
	text-align: center;
}

.table {
	font-size: 1.3rem;
}

.form {
	width: 21rem;
	height: 21rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form label {
	font-size: 1.2rem;
	font-weight: bold;
}

.form input,
.form select {
	height: 2rem;
	font-size: 1.1rem;
	border-radius: 0.5rem;
}

.cta {
	margin-top: 0.7rem;
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: bold;
}

.cta:hover,
.cta:focus {
	background-color: red;
	color: white;
}
