.cart-title {
	text-align: center;
}

.table {
	font-size: 1.3rem;
}

.form {
	width: 21rem;
	height: 21rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form label {
	font-size: 1.2rem;
	font-weight: bold;
}

.form input,
.form select {
	height: 2rem;
	font-size: 1.1rem;
	border-radius: 0.5rem;
}
